<div class="d-flex justify-content-center mt-5">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "sign-up-form d-flex flex-column align-items-center"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="form-title">Sign up</h2>
    <p>Create your account. It's free and only takes a minute</p>
    <div class="field form-group">
      <%= f.search_field :name, autofocus: true,wrapper: false, placeholder: "Name" %>
    </div>

    <div class="field form-group">
      <%= f.search_field :username,require: true,wrapper: false, placeholder: "Username" %>
    </div>

    <div class="field form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
    </div>

    <div class="actions d-flex flex-row-reverse btn-form-group">
      <%= f.submit "Sign up", class: "btn btn-success" %>
    </div>

    <div class="alert-login">
      Already have an account?<%= render "devise/shared/links" %>
    </div>
  <% end %>
  
  
</div>
