<div class="d-flex justify-content-center pt-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "sign-up-form d-flex flex-column align-items-center"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="form-title login-form">Log In</h2>

    <div class="field form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-group remember-group d-inline-flex">
        <%= f.check_box :remember_me,class:"d-inline-flex" %>
        <%= f.label :remember_me, class: "ms-2" %>
      </div>
    <% end %>

    <div class="actions d-flex flex-row-reverse btn-form-group">
      <%= f.submit "Log in", class: "btn btn-success" %>
    </div>

    <div class="alert-login">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  
  
</div>
