<nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-link" do %>
            <h4 class="title ">Fakebook</h4>
        <%end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
        <%if user_signed_in? %>
            <div class="dropdown pe-5">
                <div class="btn btn-profile"><%= current_user.username%></div>
                <div class="dropdown-menu">
                    <a href="#"><i class="fas fa-home me-2 text-center"></i>My Page </a>
                    <%= link_to edit_user_registration_path do %>
                        <i class="far fa-id-badge me-2 text-center mb-2"></i> My Profile
                    <%end%>
                    <%= link_to destroy_user_session_path,method: :delete, class: "logout" do%>
                        <i class="fas fa-sign-out-alt me-2"></i>Log out
                    <%end %>
                </div>
            </div>
            
        <% else%>
            <%= link_to "Sign up", new_user_registration_path, class: "btn  ms-4 sign-up"%>
            <%= link_to "Log in", new_user_session_path, class: "btn login"%>
        <% end %>
    </div>
</nav>